@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Sriracha', cursive;
}

html {
    background-color: rgb(231, 146, 118);
    position: fixed;
    overflow: hidden;
    /*margin-left: -6px;*/
}

header {
    height: 100px;
    width: 100vw;
}

div.principal {
    vertical-align: middle;
}

img.logo {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
}



h1 {
    padding: 10px;
    text-align: center;
    font-family: var(--fonte1);
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 80px;
}

p {
    font-family: var(--fonte2);
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: -25px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 700;
    height: 30px;
    width: 100vw;
    padding: 10px;

    
}

.link {
    color: white;
    padding: 10px;
    font-size: 19px;
    padding-top: 110px;
}



